.atm-title {
  color: #00ffcc;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.atm-buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.atm-btn {
  padding: 15px;
  background: transparent;
  border: 2px solid #00ffcc;
  color: #00ffcc;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

.atm-btn:hover {
  background: #00ffcc;
  color: #000;
  box-shadow: 0 0 20px #00ffcc;
}

.atm-btn-exit {
  border-color: #ff3333;
  color: #ff3333;
}
.atm-btn-exit:hover {
  background: #ff3333;
  color: white;
  box-shadow: 0 0 20px #ff3333;
}