.scene-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  z-index: 1;
}

.atm-overlay-container {
  position: absolute;
  top: 26%;
  left: 37%;
  z-index: 10;
  pointer-events: none; 
  z-index: 999;
}

.atm-screen-wrapper {
  pointer-events: auto;
  width: 250px; 
  height: 190px;
  border: 1px solid red; 
}


.atm-screen-interface {
  pointer-events: auto; 
  width: 500px; 
  height: 350px;
  background: rgba(0, 20, 40, 0.6); 
  border: 2px solid #00ffcc; 
  box-shadow: 0 0 30px rgba(0, 255, 204, 0.3) inset;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif; 
  animation: fadeIn 0.8s ease-out;
}





@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}



